*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.name{
    color: orange;
    text-align: center;
    font-size: 100px;
    font-weight: 600;
    padding-top: 250px;;
/*
    -webkit-animation-name: name;
    -webkit-animation-duration: 10s;
    -moz-animation-name: name;
    -moz-animation-duration: 10s;
    -o-animation-name: name;
    -o-animation-duration: 10s;
*/
    animation-name: name;
    animation-duration: 10s;
/*    animation-delay: 1s;*/
    animation-iteration-count: infinite;
    position: absolute;
}



/*
@keyframes name{
    from{color: aqua;}
    to{color: red;}
}*/

@keyframes name{
    0%{color: aqua; right: 0; left: 650px;}
    20%{color: chartreuse; right: 650px; left: 0px;}
    40%{color: coral; right: 0px; left: 650px;}
    60%{color: deeppink; right: 650; left: 0px;}
    80%{color: red; right: 0; left: 650px;}
    100%{color: orange; right: 650px; left: 0;}
}
